body {
  margin: 0;
  overflow: hidden;
  background-image: url('../images/background-page.png');
}

* {
  box-sizing: border-box;
}

#renderCanvas {
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none !important;
}

:root {
  --face: #be9d66;
  --lowlight: #111;
  --side: #896c3b;
  --side-dark: #120e08;
  --coin-size: 7rem;
  --coin-face: url('https://cdn-icons-png.flaticon.com/512/287/287221.png');
}
