$particles: 60;
$width: 500;
$height: 400;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();

@for $i from 0 through $particles {
  $box-shadow: $box-shadow,
    calc(random($width) - $width / 2) +
      px
      calc(random($height) - $height / 1.2) +
      px
      hsl(random(360), 100%, 50%);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
