.bigBonus {
  animation: flashing-light 0.3s linear infinite;
  .coin {
    opacity: 1;
  }
  .pyro {
    opacity: 1;
  }
}

.smallBonus {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 10rem,
    rgb(255, 70, 70) 10rem,
    rgb(45, 49, 255) 20rem
  );
  background-size: 200% 200%;
  animation: barberpole 10s linear infinite;
}

.winsigns {
  position: absolute;
  display: flex;
  right: 0;
  top: 10%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  img {
    opacity: 0.2;
    transform: scale(0.5);
    margin-bottom: -100px;
    margin-top: -100px;
  }

  .won {
    animation: flashing-win 0.5s linear infinite;
  }
}
